<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            Arobica
        </span>
    </div>
    <div id="app-3">
        <span v-if="seen">It's show!!!</span>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">{{todo.text}}</li>
        </ol>
    </div>
    <div id="app-5">
        {{message}}
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
        <p>Message:{{message}}</p>
        <input v-model="message">
        <todo-item></todo-item>
    </div>
    <div id="app-7">
        <ol>
            <todo-item
            v-for="grocery in groceryList"
            v-bind:todo="grocery"
            v-bind:key="grocery.id"
            >
            </todo-item>
        </ol>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="app.js"></script>
</html>